<div class="groof">
<h1 class="awd">Want other stats ? Request for a new graph. We will put them out very soon</h1>
<h2 class="awd"> Availabe parameters:</h2>
<div class="ass">
<span>Genres</span>&nbsp;&nbsp;<span>Developer</span>&nbsp;&nbsp;<span>Required Age</span>&nbsp;&nbsp;
<span>Categories</span>&nbsp;&nbsp;<span># Owners</span>&nbsp;&nbsp;<span>Average Playtime</span>&nbsp;&nbsp;
<span>Platforms</span>&nbsp;&nbsp;<span>Publisher</span>&nbsp;&nbsp;<span>Median Playtime</span>&nbsp;&nbsp;
<span>Release Date</span>&nbsp;&nbsp;<span>Achievements</span>&nbsp;&nbsp;<span>Ratings</span>&nbsp;&nbsp;</div>
<div class="frontal">
<div class="form-group" >
    <label  class="ss">Parameter 1</label>
    <input type="text" id="p1" name="name"  [(ngModel)]="p1" placeholder="Enter parameter1"/>
</div>
<div class="form-group" >
    <label  class="ss">Parameter 2</label>
    <input type="text" id="p2" name="email"  [(ngModel)]="p2" placeholder="Enter parameter2"/><br><br>
<button class="button large  rounded info outline drop-shadow" (click)="req()">Request</button>
</div>
</div>
</div>