
<div *ngFor="let cart of cartService.carts">
    
<nav class=" asker navbar navbar-light ">
 
    <img src={{cart.url}} alt="..." style="max-height: 80px;"/><h1 class="whit">{{cart.name}}</h1>
    
    <h3 class="doj">$ {{cart.price}}</h3>
    <button class="button large  rounded alert outline drop-shadow" (click)="delc(cart._id)">Delete</button>
  </nav>
  </div>
  <div id="dis"></div>
  <div *ngIf="cartService.carts.length>0;then thenblk;else elseblk"></div>
  
  <ng-template #thenblk>
    <p class="angkore">Total:$ {{tp}}</p>
   <div class="acopo">
    <div class="form-group" >
      <input type="text" name="name"  id="un" [(ngModel)]="un" placeholder="Enter name"/>
  </div>
    <div class="form-group" >
      <input type="text" name="email"  [(ngModel)]="em" id="em" placeholder="Enter email"/>
  </div>
    <button class="button large  rounded success outline drop-shadow" (click)="Buyer()">Checkout</button>
    </div>
   
  </ng-template>
  <ng-template #elseblk>
    <p class="pres">Cart is empty.</p>
  </ng-template>
  