
<div *ngFor="let cart of cartService.carts">
    
<nav class=" asker navbar navbar-light ">
 
    <img src={{cart.url}} alt="..." style="max-height: 80px;"/><h1>{{cart.name}}</h1>
    
    <h3>$ {{cart.price}}</h3>
    <button class="button large  rounded alert outline drop-shadow" (click)="delc(cart._id)">Delete</button>
  </nav>
  </div>
  <div id="dis"></div>
  <div *ngIf="cartService.carts.length>0;then thenblk;else elseblk"></div>
  
  <ng-template #thenblk>
    
    <button (click)="Buyer()">Buy</button>
  </ng-template>
  <ng-template #elseblk>
    Cart is empty.
  </ng-template>
  