<div class=" darku container-fluid">
<div  *ngFor ="let game of games; let i = index" >
    <div *ngIf="i<39" (click)="onSelect(game)" style="cursor:pointer" id="game" class="w3-animate-opacity w3-hover-grayscale caru card rounded drop-shadow">
    <div class="card-header">
    <div class="herlo name">{{game.name}}</div>
    <div class="name">$ {{game.price}}</div>
    </div>
    <div class="card-content p-2">
        <img src={{game.header_image}} style="width: 100%">
    </div>
    </div>
</div>
</div>
<button id="load" (click)="onloadmore()" class=" clo button rounded info outline drop-shadow">Load more</button><br><br><br><br>
<div  *ngFor ="let game of games; let i = index" >
    <div *ngIf="i>40 && displayn" (click)="onSelect(game)" style="cursor:pointer" class="caru card rounded drop-shadow">
    <div class="card-header">
    <div class="herlo name">{{game.name}}</div>
    <div class="name">$ {{game.price}}</div>
    </div>
    <div class="card-content p-2">
        <img src={{game.header_image}} style="width: 100%">
    </div>
    </div>
</div>