<div class="w3-animate-opacity aside h-100 p-ab">
  
  <div id="carouselExampleIndicators" class="w3-round-xlarge mine carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="w3-round-xlarge carousel-inner" role="listbox">
      <div class="carousel-item active">
        <a routerLink='/allgames' routerLinkActive="router-link-active"> <img src={{u1}} class="d-block w-100" alt="..."></a>
      </div>
      <div class="carousel-item">
        <a routerLink='/allgames' routerLinkActive="router-link-active"><img src="https://steamcdn-a.akamaihd.net/steam/apps/10500/header.jpg?t=1545151872" class="d-block w-100" alt="..."></a>
      </div>
      <div class="carousel-item">
        <a routerLink='/allgames' routerLinkActive="router-link-active"><img src="https://steamcdn-a.akamaihd.net/steam/apps/18500/header.jpg?t=1447351522" class="d-block w-100" alt="..."></a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>