<div class="atlas container">
    <br><br>
    <h1 class="sss">Happy to help you !</h1>
    <br><br><br><br>
    <form #contactusForm="ngForm" class="opera" (ngSubmit)="onSubmit(contactusForm)" >
        <!--<input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="contactusService.selectedContact._id">
        -->
        <div class="form-group" >
            <label  class="ss">Name</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="selectedContact.name" placeholder="Enter name"/>
        
        </div>

        <div class="form-group" >
            <label  class="ss">Email address</label>
            <input type="text" name="email" #name="ngModel" [(ngModel)]="selectedContact.email" placeholder="Enter email"/>
        
        </div>
        <div class="form-group">
            <label class="ss">Request</label>
            <textarea data-role="textarea" data-auto-size="true" data-max-height="200" name="request" #name="ngModel" [(ngModel)]="selectedContact.request" placeholder="Enter request"></textarea>
        </div>
        
        <div class=" ">
            <button class="button large  rounded success outline drop-shadow">Submit data</button>
               
        </div>
    </form> 
    <div id="dis"></div>
</div>