<div class="atlas container">
    <br><br>
    <h1 class="ss">Happy to help you !</h1>
    <br><br><br><br>
    <form class="opera">
        <div class="form-group">
            <label  class="ss">Email address</label>
            <input type="email" placeholder="Enter email"/>
        
        </div>
        <div class="form-group">
            <label class="ss">Request</label>
            <textarea data-role="textarea" data-auto-size="true" data-max-height="200" placeholder="Enter your Request Here"></textarea>
        </div>
        
        <div class="form-group">
            <button class="button success">Submit data</button>
            <input type="button" class="button" value="Cancel">
        </div>
    </form> 



</div>