.atlas{
    width: 900px;
    height: 700px;
    background-color: rgba(139, 131, 131, 0.5);
    margin-left: 30%;
    margin-top: 2%;
    border-radius: 20px;
}
.ss{
    margin-left: 35%;
    font-family: 'Trebuchet MS';
    color:white;
}
.opera{
max-width: 50%;
margin-left: 25%;
}
.sss{
    font-family: 'Trebuchet MS';
    color:white;
    margin-left: 25%;
}