<h1>Statistics of games</h1>

<nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <button class="btn" Button label="chart1" 
            (click)="onchart1()">
            # games per platform</button>
        </li>
        <li class="nav-item">
            <button class="btn" Button label="chart2" 
            (click)="onchart2()"># games per year</button>
        </li>
        <li class="nav-item">
            <button class="btn" Button label="chart3" 
            (click)="onchart3()">Release Date vs Price</button>
        </li>
        <li class="nav-item">
            <button class="btn" Button label="chart4" 
            (click)="onchart4()">#games per platform</button>
        </li>
        <li class="nav-item">
            <button class="btn" Button label="chart5" 
            (click)="onchart5()">Developer vs Price</button>
        </li>
    </ul>
</nav>

<app-chart1 *ngIf="chart1"></app-chart1>
<app-chart2 *ngIf="chart2"></app-chart2>
<app-chart3 *ngIf="chart3"></app-chart3>
<app-chart4 *ngIf="chart4"></app-chart4>
<app-chart5 *ngIf="chart5"></app-chart5>

<h1>Request for a new graph? We will put them out very soon</h1>
<div class="form-group" >
    <label  class="ss">Parameter 1</label>
    <input type="text" id="p1" name="name"  [(ngModel)]="p1" placeholder="Enter parameter1"/>
</div>
<div class="form-group" >
    <label  class="ss">Parameter 2</label>
    <input type="text" id="p2" name="email"  [(ngModel)]="p2" placeholder="Enter parameter2"/>
<button class="button large  rounded success outline drop-shadow" (click)="req()">Request</button>
</div>