<h1 class="aloha">Statistics of games</h1>

<nav class=" ballista navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <button class="ax button large  rounded info outline drop-shadow" Button label="chart1" 
            (click)="onchart1()">
            # games per platform</button>
        </li>
        <li class="nav-item">
            <button class="ax button large  rounded info outline drop-shadow" Button label="chart2" 
            (click)="onchart2()"># games per year</button>
        </li>
        <li class="nav-item">
            <button class="ax button large  rounded info outline drop-shadow" Button label="chart3" 
            (click)="onchart3()">Release Date vs Price</button>
        </li>
        <li class="nav-item">
            <button class="ax button large  rounded info outline drop-shadow" Button label="chart4" 
            (click)="onchart4()">#games per platform</button>
        </li>
        <li class="nav-item">
            <button class="ax button large  rounded info outline drop-shadow" Button label="chart5" 
            (click)="onchart5()">Developer vs Price</button>
        </li>
        <li class="nav-item">
            <button class="btn" Button label="chart6" 
            (click)="onchart6()"># games per genre</button>
        </li>
        <li class="nav-item">
            <button class="btn" Button label="request" 
            (click)="onrequest()">Request for new graphs!</button>
        </li>
    </ul>
</nav>

<app-chart1 *ngIf="chart1"></app-chart1>
<app-chart2 *ngIf="chart2"></app-chart2>
<app-chart3 *ngIf="chart3"></app-chart3>
<app-chart4 *ngIf="chart4"></app-chart4>
<app-chart5 *ngIf="chart5"></app-chart5>
<app-chart6 *ngIf="chart6"></app-chart6>
<app-requests *ngIf="request"></app-requests>
