<!--<img src={{url}}/>
<button (click)="Addtocart()">Add</button>
<div id="dis"></div>
{{pos_rate}}
{{neg_rate}}
<img src={{background}}>-->

<div class="clover container-fluid" style="background-image: url({{background}});" >
    <h1 class="title">{{name}}</h1>
    <img class="heads" src={{url}}/>
    <P class="dedc">{{desc}}</P>
    <div data-role="progress" data-type="buffer" data-value="40" data-buffer="100" data-small="true"></div>
    <button (click)="Addtocart()">Add</button>
    <div id="dis"></div>






</div>