<!--<img src={{url}}/>
<button (click)="Addtocart()">Add</button>
<div id="dis"></div>
{{pos_rate}}
{{neg_rate}}
<img src={{background}}>-->

<div class="clover w3-animate-opacity container-fluid" style="background-image: url({{background}});" >
    <h1 class="title">{{name}}</h1>
    <img class="heads" src={{url}}/>
    <P class="dedc">{{desc}}</P>
    
    <p class="forma">Developers: {{dev}}</p>
    
    
    
    
    
    <p class="forma">Price: $ {{price}}</p>
    <button  class="calsi button large  rounded success outline drop-shadow" (click)="Addtocart()">Buy</button>
    <h2 class="serd">Statistics</h2>
    <div class="darf" data-role="progress" data-type="buffer" data-value="40" data-buffer="100" data-small="true"></div>
    <p class="dfr">Positive reviews: {{pos_rate}}</p>
    <p class="dfr">Negetive reviews: {{neg_rate}}</p>
    <p class="dfr">Number of Players: {{owners  }}</p>

    <div >
        <p id="dis" class="portico" ></p>
    </div>

</div>